html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

#bg {
  position: fixed;
  bottom:0;
  left:0;
  height: 70%;
  width: 120%;
}

body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  position: relative;
  /*background-image: url("../images/theOfficeBackground2.jpg");*/
  background-color: #c0c0b6;
}

.jumbotron {
  border: 2px solid black;
  padding-top: 1%;
  padding-bottom: 1%;
}

.gameContainer{
  background-color: rgba(76, 175, 80, 0.3);
  height: 500px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 1% 2% 1% 2%;

}

.gameContainer p {
  padding: 2%;
  border-radius: 10px;
  text-align: center;

}

footer {
font-family: monospace;
font-size: 14px;
width: 100%;
position: absolute;
bottom: 0;
left: 0;
background-color: #272e36;
color: white;
padding: 2% 0 2% 0;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
text-align: center;
}
